@font-face {
    font-family: "Oswald";
    src:
        local("Oswald"),
        url(./assets/fonts/Oswald/Oswald-VariableFont_wght.ttf) format(truetype) tech(variations);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

table,
th,
td {
    text-align: center;
    border: 1px solid black;
}

.pageHeader {
    margin: 0;
}

header {
    padding: 1.8em 0;
    margin: 0 0 0.3em;
    display: flex;
    justify-content: center;
    background-color: #e0ffcd;
    color: #0a0307;
    font-family: "Oswald", sans-serif;
}

main {
    padding: 0.3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
}

.card {
    border: 5px solid black;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #ffebbb;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-left: 10px;
}

.removeButton {
    height: 20px;
    width: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: flex-end;
    margin: 0.2em;
    padding: 0;
    background-color: red;
}

.xCircle {
    object-fit: fill;
}

.card p {
    margin: 0;
}

footer {
    background-color: #ffcab0;
    margin-top: auto;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
}

footer p:first-of-type {
    padding-top: 0.3em;
}

footer p:last-of-type {
    padding-bottom: 0.3em;
}